/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
 */
 
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }


 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
   display: block;
 }
 body {
   line-height: 1;
 }
 ol, ul {
   list-style: none;
 }
 blockquote, q {
   quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }


/* extra resetting  */
/* makes all images responsive */


img {
max-width: 100%;
height: auto;
}



/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


  /* screen reader*/

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}


.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000; /* above all content */
}




/* ------------------------------------------------ */





/* global */

html{
  scroll-behavior: smooth;
}

body{
    font-family: 'Raleway';
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}



h1, h2, h3{
    font-family: 'Playfair Display';

}

.heading-bold {
  font-weight: bold;
}

.heading-italics{
    font-style: italic;
}

a:link {
  color: #e2574c;
  text-decoration: none;
}

a:visited {
  color: #e2574c;
}

a:hover {
  color: #b64036;
}

/* header */

.h-container{
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2% .5rem 2%;
  flex-wrap: wrap;
}

.logo{
  max-width: 33%;
}  

.logo img{
  max-width: 120px;
}  

.cart{
  max-width: 33%;
  display: flex;
  align-items: flex-end;
}

.cart img{
  max-width: 50px; 
}


/* navigation */

.site-navigation{
 width: 480px;
 text-align: center;
 padding-top: .5rem;
}

.site-navigation ul{
  border-top: 1px solid #d7d7d7;
  margin: 0 auto;
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: .5rem;
  }

.site-navigation li { 
  list-style-type: none;
  display: inline-block;
  padding: 0% 3% 0% 3%;
}


/* banner */

.banner-container{
    max-width: 480px;
    height: 400px;
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
    url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: center, center 60px, center;
    background-size: cover, 150px 369px, cover;
    display: flex;
    
}

.banner-text{
    width: 480px;
    color: white;
    font-style: normal;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
}

.new-collection{
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1.25rem;
  font-family: 'Raleway';
}

.spring-summer{
  font-size: 2rem;
}



/* section about */

.about-container{
    max-width: 480px;
    padding: 4rem 0 4rem 0;
   
}

.about-text h2{
  font-size: 2rem;
  text-align: center;
  line-height: 3rem;
  margin-bottom: 1rem;
}



.about-text p{
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
}


/* section category */

.category-container{
    max-width: 480px;
    height: 1025.6px;
    display: flex;
    flex-wrap: wrap;

}

.mens{
    height: 25%;
    flex-basis: 100%;
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(../images/mens-category.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;   
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}


.mens a:link {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}

.mens a:visited {
  color: #fff;
}

.mens a:hover{
  color: #ffe9b8;
}

.trends{
    height: 25%;
    flex-basis: 50%;
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(../images/trends-category.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.trends a:link {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}

.trends a:visited {
  color: #fff;
}

.trends a:hover{
  color: #ffe9b8;
}
 

.glasses{
    height: 25%;
    flex-basis: 50%;
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(../images/glasses-category.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.glasses a:link {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}

.glasses a:visited {
  color: #fff;
}

.glasses a:hover{
  color: #ffe9b8;
}
 

.sale{
  height: 25%;
  flex-basis: 50%;
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(../images/sale-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.sale a:link {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}

.sale a:visited {
  color: #fff;
}

.sale a:hover{
  color: #ffe9b8;
}
 

.bags{
  height: 25%;
  flex-basis: 50%;
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(../images/bags-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.bags a:link {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}

.bags a:visited {
  color: #fff;
}

.bags a:hover{
  color: #ffe9b8;
}
 

.womens{
  height: 25%;
  flex-basis: 100%;
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(../images/womens-category.jpg);
  background-position: center;
  background-size: cover ;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.womens a:link {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}

.womens a:visited {
  color: #fff;
}

.womens a:hover{
  color: #ffe9b8;
}
 

/* section products */

.products{
  max-width: 480px;
  margin: 0 auto;
  padding-top: 56px;
}

.products h3{
  text-align: center;
  color: #e2574c;
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.products h2{
  text-align: center;
  font-size: 2rem;
  padding-bottom: 56px;
}

.products p{
  text-align: center;
  color: #969696;
  font-size: .7rem;
  font-weight: 400;
}

.products img{
 text-align: center;
 width: 320px;
 height: auto;
}

.main-carousel{
  margin: 0 auto;
  max-width: 100%;
}

.carousel-cell {
  width: 100%;
  height: 450px;
  margin-right: 10px;
  text-align: center;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* email form */

.email-container{
  max-width: 480px;
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(../images/wave-bkgd.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center bottom;
  border: 4px solid white;
  padding: 56px 0; 
  margin: 68px 0px 8px 0px;
}

form {
  position: relative;
}

.updates {
  padding: 21px 21px;
}

.subcription {
  padding-bottom: 21px;
}
.email-container p, .heading-italics, .heading-bold{
  line-height: 2rem;
}

.email-container h2{
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.email-container p{
  text-align: center;
}

.signup-wrapper {
  margin: 0 auto;
 
}

fieldset {
  color: white;
}


.email-wrapper {
  max-width: 85vw;
  margin: 0 auto;
}

#mail{
  width: 100%;
  border-radius: 50px;
  line-height: 2.5rem;
  padding-left: 2rem;
  border: 0;
}

#subscribeButton{
  border-radius: 50px;
  background-color: #e2574c;
  font-family: 'Raleway Web';
  font-size: 1.1rem;
  width: 120px;
  line-height: 2.1rem;
  color: #ffffff;
  position: absolute;
  right: 7vw;
  bottom: .2rem;
  border: 0;
 
}
/* footer */

.f-container{
  max-width: 480px;
  margin: 0 auto;
  background-color: #242424;
  padding: 4rem;
}

.f-container a{
 color: white;
 text-decoration: underline;
}

footer ul{
  text-align: center;
  list-style-type: none;
  color: white;
  line-height: 3rem;
}

footer li{
  display: inline-block;
  background-color: #242424;
}

.info{
  text-align: center;
  color: white;
}

.copyright{
 padding-bottom: 14px;
 font-size: 14px;
 line-height: 1.2rem;
 font-weight: 400;
}

.contact-info {
  padding-bottom: 14px;
  font-size: 14px;
  line-height: 1.2rem;
  font-weight: 400;
}

.address{
  color: #969696;
  font-size: 14px;
  line-height: 1.2rem;
  font-weight: 400;
}

.fa-facebook-f{
  min-width: 25px;
}

.fa-twitter{
  min-width: 25px;
}

.fa-instagram{
  min-width: 25px;
}

.fa-pinterest{
  min-width: 25px;
}

.facebook {
  display: none;
}

.twitter {
  display: none;
}

.instagram {
  display: none;
}

.pinterest {
  display: none;
}


/* media queries responsive website  */


@media all and (min-width: 480px) {
    body{   
        font-size: 16px; 
    }

    .h-container{
        max-width: 768px;
      }

  /* navigation tablet */
  
  .site-navigation{
    width: 768px;
   }

   .site-navigation li { 
    padding: 0% 1% 0% 1%;
  }
  
   .banner-container{
    max-width: 768px;
    }

    .banner-text{
      width: 100%;
      color: white;
      font-style: normal;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 0%;
  }
  

  /* section about tablet */

  .about-container{
    max-width: 768px;
    margin: 0 auto;
}

.about-text h2{
    line-height: 4rem;
}

.spring-summer{
  font-size: 3rem;
}

/* section category tablet*/


.category-container{
    max-width: 100%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;  
    margin: 0 auto;
}

.mens{
  height: 50%;
  flex-basis: 50%;
}

.trends{
  height: 50%;
  flex-basis: 25%;
}

.trends a:visited {
  color: #fff;
}

.trends a:hover{
  color: #ffe9b8;
}

.glasses{
  height: 50%;
  flex-basis: 25%;
}

.sale{
height: 50%;
flex-basis: 25%;
}

.bags{
height: 50%;
flex-basis: 25%;
}

.womens{
height: 50%;
flex-basis: 50%;
}

/* products slider tablet*/

.products{
    max-width: 768px;
    margin: 0 auto;
  }

  .products h3{
    font-size: 1.5rem;
  }

  .products p{
    
    font-size: .75rem;
    
  }

  .carousel-cell {
    width: 50%;
  }
  
/* email form tablet */

.email-container {
  max-width: 768px;
}

.signup-wrapper {
  max-width: 720px;
}

.updates {
  padding: 28px 8px 28px 8px;
}

fieldset {
  text-align: center;
  color: white;
  line-height: 1.5rem;
}

.email-wrapper {
  max-width: 80vw;
 
}

#subscribeButton{
  right: 9.5vw;
}

/* footer tablet  */

.f-container{
  max-width: 768px;
  }

}

@media all and (min-width: 768px) {
    p, a, ul{
        
        font-size: 16px; 
    }

    .h-container{
        max-width: 1240px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
      }
    
      .logo img{
        max-width: 160px;
        height: auto;
      }
    
      .cart img{
        max-width: 62px;
        
      }
    
      .cart{
        
        display: flex;
        order: 1;
      }
      
      /* navigation desktop*/
      
      .site-navigation{
        flex-basis: 40%;
        align-self: center;
      }
      
      .site-navigation ul { 
          list-style-type: none;
          display: inline;
          text-align: center;
          margin-right: 25%;
          padding: 0px;
          border-top: transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          }
      
      .site-navigation li {
            margin: 8px;
            padding: 0% 3% 0% 3%;
          } 

      .banner-container{
           max-width: 100%;
            height: 550px;
            position: relative;
            background-size: contain, 250px 615px, contain;
            }

      .banner-text{ 
          width: 100%;
          color: white;
          font-style: normal;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      
      .new-collection{
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
      }
      
      .spring-summer{
        font-size: 4rem;
        font-weight: 400;
      }
    
      /* section about destop */
    
      .about-container{
        max-width: 600px;
        margin: 0 auto;
    }
    
    .heading-italics{
    
        font-style: italic;
    }
    
    .about-text h2{
        line-height: 4rem;
    }

    .about-text p{
      text-align: center;
      font-size: 1.1rem;
  }

    /* section category desktop*/
    
    
    .category-container{
      max-width: 100%;
      height: 632px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
    }
    
    .mens{
      height: 50%;
      flex-basis: 50%;
    }

    .mens a:link {
      font-size: 2.1rem;
    }
    
    .trends{
      height: 50%;
      flex-basis: 25%;
    }

    .trends a:link {
      font-size: 2.1rem;
    }
    
    .trends a:visited {
      color: #fff;
    }

    .trends a:hover{
      color: #ffe9b8;
    }
    
    .glasses{
      height: 50%;
      flex-basis: 25%;
    }

    .glasses a:link {
      font-size: 2.1rem;
    }
    
    .sale{
    height: 50%;
    flex-basis: 25%;
    }

    .sale a:link {
      font-size: 2.1rem;
    }
    
    .bags{
    height: 50%;
    flex-basis: 25%;
    }

    .bags a:link {
      font-size: 2.1rem;
    }
    
    .womens{
    height: 50%;
    flex-basis: 50%;
    }
    
    .womens a:link {
      font-size: 2.1rem;
    }
    
    /* products slider desktop */
    
    .products{
      max-width: 1240px;
      margin: 0 auto;
    }
    
    .carousel-cell {
      width: 25%;
      margin-right: 10px;
      border-radius: 5px;
      counter-increment: carousel-cell;
    }
    
    
    
    /* email form desktop */
    
    .email-container {
      max-width: 100%;
      background-size: 100%, 1420px; 
    }

    .email-container, .heading-italics, .heading-bold{
      line-height: 3.5rem;
      font-size: 2.4rem;
    }
  
    .email-container p{
      font-size: 1.15rem;
    }
  
    .email-container h1{
      font-size: 2.4rem;
    }

    .updates {
      padding: 28px 0px 28px 0px;
    }
    .email-wrapper {
      max-width: 440px;
    }
    
    #subscribeButton{
      position: relative;
      left: 158.5px;
      bottom: 2.55rem;
    }
    
    /* footer desktop */
    
    footer{
      max-width: 100%;
      background-color: #242424;
    }
    
    .f-container{
      max-width: 1240px;
      background-color: #242424;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
    }

    .info {
      text-align: left;
    }

    footer li{
      display: block;
      line-height: 1rem;
      text-align: left;
      padding-bottom: 12px;
    }

    .facebook {
      display: inline;
      padding-left: 10px;
      font-family: 'Raleway';
      
    }
    
    .twitter {
      display: inline;
      padding-left: 10px;
      font-family: 'Raleway';
      font-size: 16px;
    }
    
    .instagram {
      display: inline;
      padding-left: 10px;
      font-family: 'Raleway';
      
    }
    
    .pinterest {
      display: inline;
      padding-left: 10px;
      font-family: 'Raleway';
      
    }
    
    
}

  
