/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
 */
 
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }


 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
   display: block;
 }
 body {
   line-height: 1;
 }
 ol, ul {
   list-style: none;
 }
 blockquote, q {
   quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }


/* extra resetting  */
/* makes all images responsive */


img {
max-width: 100%;
height: auto;
}



/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }




/* ------------------------------------------------ */






/* global */

html{
  scroll-behavior: smooth;
}

body{
    font-family: 'Raleway';
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}



h1, h2, h3{
    font-family: 'Playfair Display';

}

.heading-bold {
  font-weight: bold;
}

.heading-italics{
    font-style: italic;
}

a:link {
  color: #e2574c;
  text-decoration: none;
}

a:visited {
  color: #e2574c;
}

a:hover {
  color: #b64036;
}

/* header */

.h-container{
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2% .5rem 2%;
  flex-wrap: wrap;
}

.logo{
  max-width: 33%;
}  

.logo img{
  max-width: 120px;
}  

.cart{
  max-width: 33%;
  display: flex;
  align-items: flex-end;
}

.cart img{
  max-width: 50px; 
}


/* navigation */

.site-navigation{
  
 width: 480px;
 text-align: center;
 padding-top: .5rem;


}

.site-navigation ul{
  border-top: 1px solid #d7d7d7;
  padding-top: .5rem;
  margin: 0 auto;
  }

.site-navigation li { 
  list-style-type: none;
  display: inline-block;
 
  padding: 0% 3% 0% 3%;
}


/* banner */

.banner-container{
    max-width: 480px;
    height: 400px;
    background: url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
    background-repeat: no-repeat, repeat;
    background-position: center, center;
    background-size: contain, cover;
    display: flex;
    
}

.banner-text{
    width: 480px;
    color: white;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
}

.new-collection{
  margin-bottom: 1.5rem;
}

.spring-summer{
  font-size: 2rem;
}



/* section about */

.about-container{
    max-width: 480px;
    padding: 4rem 0 4rem 0;
   
}

.about-text h2{
  font-size: 2rem;
  line-height: 3rem;
}



.about-text{
    text-align: center;
    line-height: 2rem;
    
}


/* section category */

.category-container{
    max-width: 480px;
    height: 1025.6px;
    display: flex;
    flex-wrap: wrap;
    
    
}

.mens{
    height: 25%;
    flex-basis: 100%;
    background: url(../images/mens-category.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
     
    
}

.mens-text{
  font-size: 1.8rem;
  color: white;
}
 

.trends{
    height: 25%;
    flex-basis: 50%;
    background: url(../images/trends-category.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
}

.trends-text{
  font-size: 1.8rem;
  color: white;
}
 

.glasses{
    height: 25%;
    flex-basis: 50%;
    background: url(../images/glasses-category.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
}

.glasses-text{
  font-size: 1.8rem;
  color: white;
}
 

.sale{
  height: 25%;
  flex-basis: 50%;
  background: url(../images/sale-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
}

.sale-text{
  font-size: 1.8rem;
  color: white;
}
 

.bags{
  height: 25%;
  flex-basis: 50%;
  background: url(../images/bags-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
}

.bags-text{
  font-size: 1.8rem;
  color: white;
}
 

.womens{
  height: 25%;
  flex-basis: 100%;
  background: url(../images/womens-category.jpg);
  background-position: center;
  background-size: cover ;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
}

.womens-text{
  font-size: 1.8rem;
  color: white;
}
 

/* section products */

.products{
  max-width: 480px;
  margin: 0 auto;
}

.products h3{
  text-align: center;
}

.products h2{
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
}

.products p{
  text-align: center;
  color: #969696;
  line-height: 1.5rem;
}
.products img{
 text-align: center;
 width: 320px;
 height: auto;
}

.main-carousel{
  margin: 0 auto;
  max-width: 100%;
}

.carousel-cell {
  width: 100%;
  height: 400px;
  margin-right: 10px;
  text-align: center;
  border-radius: 5px;
  counter-increment: carousel-cell;
}


/* email form */

.email-container{
  max-width: 480px;
  background: url(../images/wave-bkgd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  border: 4px solid white;
  padding: 4rem 0 4em 0; 
}

.email-container p, .heading-italics, .heading-bold{
    line-height: 2rem;
}

.email-container h2{
    font-size: 1.5rem;
}



fieldset {
  text-align: center;
  color: white;
}

#mail{
  text-align: center;
  border-radius: 50px 50px 50px 50px;
  line-height: 2rem;
  width: 50%;
}

#subscribeButton{
  border-radius: 50px 50px 50px 50px;
  background-color: #e2574c;
  color: #ffffff;
  position: relative;
  right: 85px;
  height: 1.9rem;
}

/* footer */

.f-container{
  max-width: 480px;
  margin: 0 auto;
  background-color: #242424;
  padding: 4rem;
}

footer ul{
  text-align: center;
  list-style-type: none;
  color: white;
  line-height: 3rem;
}

footer li{
  display: inline-block;
  background-color: #242424;
}

.info{
  text-align: center;
  color: white;
}

.contact-info{
  line-height: 2rem;
}

.address{
  color: #969696;
}



/* media queries responsive website  */


@media all and (min-width: 480px) {
    body{   
        font-size: 16px; 
    }

    .h-container{
        max-width: 600px;
      }

       
  
  /* navigation tablet */
  
  .site-navigation{
    width: 600px;
   }
  
  

  .banner-container{
    max-width: 600px;
    height: 400px;
    background: url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: contain;
    padding-top: 275px;
    padding-bottom: 275px;
    
    }

    .banner-text{
      width: 100%;
      color: white;
      font-style: normal;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 0%;
  }
  
 
  
  

  /* section about tablet */

  .about-container{
    max-width: 600px;
    margin: 0 auto;
}



.about-text h2{
    line-height: 4rem;
}

/* section category tablet*/


.category-container{
    max-width: 600px;
    height: 1025.6px;
    display: flex;
    flex-wrap: wrap;  
}




/* products slider tablet*/

.products{
    max-width: 600px;
    margin: 0 auto;
  }
  





/* email form tablet */

.email-container {

  max-width: 600px;
  
}

fieldset {

  text-align: center;
  color: white;
  line-height: 1.5rem;
}

/* footer tablet  */

}

@media all and (min-width: 600px) {
    p, a, ul{
        
        font-size: 16px; 
    }

    .h-container{
        max-width: 1240px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
      }
    
      .logo img{
        max-width: 160px;
        height: auto;
      }
    
      .cart img{
        max-width: 62px;
        
      }
    
      .cart{
        
        display: flex;
        order: 1;
      }
      
      /* navigation desktop*/
      
      .site-navigation{
        flex-basis: 40%;
        align-self: center;
      }
      
      .site-navigation ul { 
          list-style-type: none;
          display: inline;
          text-align: center;
          margin: 0;
          padding: 0;
          border-top: transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          }
      
      .site-navigation li {
            
            margin: 8px;
            padding: 0% 1% 0% 1%;
          } 


          
    
      .banner-container{
        max-width: 100%;
        height: 400px;
        background: url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
        background-repeat: no-repeat, repeat;
        background-position: center;
        background-size: contain;
        padding-top: 275px;
        padding-bottom: 275px;
        
        }
    
        .banner-text{
          width: 100%;
          color: white;
          font-style: normal;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 0%;
      }
      
      .new-collection{
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }
      
      .spring-summer{
        font-size: 3.5rem;
      }
    
      /* section about destop */
    
      .about-container{
        max-width: 600px;
        margin: 0 auto;
    }
    
    .heading-italics{
    
        font-style: italic;
    }
    
    .about-text{
        text-align: center;
        font-size: 1rem;
        line-height: 3rem;
    
    }
    
    .about-text h2{
        line-height: 4rem;
    }


.about-text{
    text-align: center;
    line-height: 2rem;
    
}
    
    /* section category desktop*/
    
    
    .category-container{
      max-width: 100%;
      height: 632px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto
    }
    
    .mens{
      height: 50%;
      flex-basis: 50%;
      background: url(../images/mens-category.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 4px solid white;
      
    }
    
    
    .trends{
      height: 50%;
      flex-basis: 25%;
      background: url(../images/trends-category.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 4px solid white;
    }
    
    .glasses{
      height: 50%;
      flex-basis: 25%;
      background: url(../images/glasses-category.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 4px solid white;
    }
    
    .sale{
    height: 50%;
    flex-basis: 50%;
    background: url(../images/sale-category.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
    }
    
    .bags{
    height: 50%;
    flex-basis: 25%;
    background: url(../images/bags-category.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
    }
    
    .womens{
    height: 50%;
    flex-basis: 25%;
    background: url(../images/womens-category.jpg);
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
    
    }
    
    
    /* products slider desktop */
    
    .products{
      max-width: 1240px;
      margin: 0 auto;
    }
    
    .carousel-cell {
      width: 320px;
      height: 400px;
      margin-right: 10px;
      border-radius: 5px;
      counter-increment: carousel-cell;
    }
    
    
    
    /* email form desktop */
    
    .email-container {
    
      max-width: 1240px;
      margin: 0 auto;
      padding: 4rem;
      background: url(../images/wave-bkgd.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center bottom;
      margin-bottom: 1rem;
      
    
    
    }
    
    fieldset {
    
      text-align: center;
      color: white;
      line-height: 1.5rem;
    }
    
    /* footer desktop */
    
    footer{
      max-width: 100%;
      background-color: #242424;
    }
    
    .f-container{
      max-width: 1240px;
      background-color: #242424;
      display: flex;
      justify-content: space-between;
    }
    
    footer li{
      display: block;
      line-height: 2rem;
      text-align: left;
    }
    
    
}
#main[tabindex="-1"]:focus {
	outline: 0;
	color: #e2574c; 
 }
 
  
